<!DOCTYPE html>
<html>
  <head>
    <title><?php echo $title?></title>
  </head>
  <body>
    <h1 style="margin-bottom: 5px;">The Example App</h1>
    <?php echo include 'plugins/menu.php'; ?>
    <?php echo $content; ?>
    <?php echo include 'plugins/footer.php'; ?>
  </body>
</html>
