<div style="margin-bottom: 10px;">
  <span><a href="<?php echo APP_BASE?>">Home</a></span>
  <span><a href="<?php echo APP_BASE?>about-us/index">About Us</a></span>
  <span><a href="<?php echo APP_BASE?>contact-us/index">Contact Us</a></span>
  <span><a href="<?php echo APP_BASE?>testimonials/index">Testimonials</a></span>
</div>